body {
	background-image: url("http://eskipaper.com/images/cloud-background-1.jpg");
	text-align: center;
	padding: 2%;
}

.container {
	
	width: 500px;
	margin: auto;
}

div input {
	font-size: 1.5em;
}

.row {
	margin: auto;
	text-align: center;
}

.data-point-container {
	background: rgba(255, 255, 255, 0.7);
	border: 2px wavy black;
	border-radius: 5%;
	margin: 1%;
	padding: 2%;
}

h1, h4 {
	font-family: Chicle, sans-serif;
	font-size: 6em;
	color: white;
}

h4 {
	font-size: 2em;
}