body {
  background-image: url("http://eskipaper.com/images/cloud-background-1.jpg");
  text-align: center;
  padding: 2%; }

.container {
  margin: 0 auto; }

.input-zip {
  width: 200px; }

.data-point-container {
  height: 300px;
  background: rgba(255, 255, 255, 0.6);
  border: 2px wavy black;
  border-radius: 5%;
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 1.4em;
  margin: 1%;
  padding: 1%; }

h1 {
  font-family: Chicle, sans-serif;
  text-shadow: 1px 1px 1px #000, 0 0 1em #000, 0 0 0.2em white;
  font-size: 6em;
  color: white; }

h4 {
  font-family: Chicle, sans-serif;
  text-shadow: 1px 1px 1px #000, 0 0 1em #000, 0 0 0.2em white;
  color: white;
  font-size: 2em; }
