body {
  text-align: center;
  padding: 2%; }

.container {
  width: 25%; }

body {
  background-color: lightblue; }

#input-row-container {
  font-size: 2em;
  width: 500px; }

#input-row {
  margin: auto;
  text-align: center; }

.data-point-container {
  border: 2px solid black;
  border-radius: 5%;
  margin: 1%; }
